.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 250px;
  background-color: #2c2c2c;
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-right: 1px solid #ddd;
  position: sticky;
  left: 0;
}

.notesWrapper {
  width: 100%;
  flex: 1;
  background-color: #f5f5f5;
  overflow-y: auto;
}

.main {
  padding: 32px;
  min-height: 100vh;
}
